@{
    ViewData["Title"] = "About";
}
<div class="row about-container">
    <div class="col-12 container-fluid about-column-container">
        @* Info sections *@
        <div class="col-sm-12 col-lg-6 p-0">

            @* Info *@
            <div class="col-12 p-0">
                <div class="info-section">
                    <p class="heading-text">General info</p>
                    <p class="section-text">
                        Welcome to Community, a web-application designed and implemented to
                        introduce, to potential recruiters, the development skills and knowledge 
                        gained via the intensive and targeted training received by JustIT.
                        <br />
                        <br />
                        The application has been created with the following dev technologies:
                        ASP.NET Core MVC 5, HTML, CSS, JavaScript, Bootstrap, and C#.
                        <br />
                        <br />
                        In case there is any interest in hiring me, please click
                        <a class="text-info" href="https://ramim96.github.io/portfolio.github.io/" target="_blank" rel="noopener noreferrer">here</a> 
                        to visit my portfolio, know more about me, and check other projects.
                    </p>
                </div>
            </div>

            @* Privacy *@
            <div class="col-12 p-0">
                <div class="privacy-section">
                    <p class="heading-text">Privacy policy</p>
                    <p class="section-text">
                        All the rights of the following web-application are reserved to
                        &copy; Ramim Uddin.
                        <br />
                        <br />
                        To use the web-application, no personal data will be requested
                        from the users as the application purpose is to present an
                        evidence defining the results of the training received from JustIT.
                    </p>
                </div>
            </div>

        </div>

        @* Background image section *@
        <div class="col-lg-6 image-container">
            <div class="col-12 image-section">
                <img class="bg-image" src="~/images/privacy2.svg" alt="Privacy Protection" />
            </div>
        </div>
    </div>
</div>
